<h4>Recent updates in Wanca</h4>

<div id="home" class="container" %>
  <h6><strong>October 20, 2017</strong></h6>
  <div class="row" %>
    <div class="col-xs-10">
      <p>Updated links found in the latest crawl of existing links and added some links that were redirects from them.</p>
    </div>
    <div class="col-xs-2"></div>
  </div>
  <h6><strong>October 20, 2017</strong></h6>
  <div class="row" %>
    <div class="col-xs-10">
      <p>Links that were not found in the latest crawl of existing links were hidden.</p>
    </div>
    <div class="col-xs-2"></div>
  </div>
  <h6><strong>September 20, 2016</strong></h6>
  <div class="row" %>
    <div class="col-xs-10">
      <p>Updated links after identifying with <a href="https://code.google.com/archive/p/boilerpipe/">Boilerpipe</a>.</p>
    </div>
    <div class="col-xs-2"></div>
  </div>
  <h6><strong>September 20, 2016</strong></h6>
  <div class="row" %>
    <div class="col-xs-10">
      <p>Contact form added.</p>
    </div>
    <div class="col-xs-2"></div>
  </div>
  <h6><strong>April 26, 2016</strong></h6>
  <div class="row" %>
    <div class="col-xs-10">
      <p>Links that were not found in the latest crawl were hidden.</p>
    </div>
    <div class="col-xs-2"></div>
  </div>
  <h6><strong>April 8, 2016</strong></h6>
  <div class="row" %>
    <div class="col-xs-10">
      <p>Search functionality added.</p>
    </div>
    <div class="col-xs-2"></div>
  </div>
  <h6><strong>December 17, 2015</strong></h6>
  <div class="row" %>
    <div class="col-xs-10">
      <p>Adding new links by expert users is now possible.</p>
    </div>
    <div class="col-xs-2"></div>
  </div>
  <h6><strong>December 15, 2015</strong></h6>
  <div class="row" %>
    <div class="col-xs-10">
      <p>Cyrillic links updated.</p>
    </div>
    <div class="col-xs-2"></div>
  </div>
  <h6><strong>October 28, 2015</strong></h6>
  <div class="row" %>
    <div class="col-xs-10">
      <p>Previously not found links updated.</p>
    </div>
    <div class="col-xs-2"></div>
  </div>
  <h6><strong>September 30, 2016</strong></h6>
  <div class="row" %>
    <div class="col-xs-10">
      <p>Links that were not found in the latest crawl were hidden.</p>
    </div>
    <div class="col-xs-2"></div>
  </div>
  <h6><strong>September 30, 2016</strong></h6>
  <div class="row" %>
    <div class="col-xs-10">
      <p>Links updated after to the latest crawl.</p>
    </div>
    <div class="col-xs-2"></div>
  </div>
  <h6><strong>September 11, 2015</strong></h6>
  <div class="row" %>
    <div class="col-xs-10">
      <p>Duplicates removed.</p>
    </div>
    <div class="col-xs-2"></div>
  </div>
</div>
